@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, Helvetica, sans-serif;
}

.testimonials-swiper {
    padding-bottom: 55px !important;
}

.testimonials-swiper .swiper-pagination {
    bottom: 10px !important;
}

.testimonials-swiper .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background: #d9d9d9 !important;
    opacity: 1 !important;
    transition: all 0.3s ease !important;
}

.testimonials-swiper .swiper-pagination-bullet-active {
    width: 8px !important;
    border-radius: 20px !important;
    background: #ffb000 !important;
}